In [1]:
# Python Crashcourse by Nilesh Satpute. +918655423607

In [23]:
# Let us study output
a = 50
b = 10
c = a+b
d = a*b
e = a/b
e1 = a//b
f = a-b
g = "Nilesh"
h = "Satpute"
i = G+H
j = G*3

print (a,b,c,d,e,e1,f,g,h,i,j)
print ("------------------")

# Print every variable of new line
print (a,"\n",b,"\n",c,"\n",d,"\n",e,"\n",f,e1,"\n","\n",g,"\n",h,"\n",i,"\n",j)
print ("------------------")

K = (a+b)*7+c*(e/d)*8-a
print (K)
print ("------------------")

L = "Nilesh"
M = "Satpute"
N = L + ' ' + M
print(N)
print ("------------------")

#remainder of the division
result = 25%4
print ("Result: ", result)
print ("------------------")

#power operator 2 raised to power of 5
result = 2**5
print ("Result: ", result)
print ("------------------")

50 10 60 500 5.0 5 40 Nilesh Satpute NileshSatpute NileshNileshNilesh
------------------
50
 10
 60
 500
 5.0
 40 5

 Nilesh
 Satpute
 NileshSatpute
 NileshNileshNilesh
------------------
374.8
------------------
Nilesh Satpute
------------------
Result:  1
------------------
Result:  32
------------------

In [8]:
# Let us study input and output
#take input
name = input ("Enter Name:")
#Print output
print (name*3," ","is in the class", "\n")

Enter Name:raj
rajrajraj   is in the class

In [10]:
# Boolean
print (8>6)
print (5<6)
print(5<=6)
print(5>=6)
print(5==6)
print(5==5)
print(5!=5)
print(5!=6)

True
True
True
False
False
True
False
True

In [32]:
#logical
print (True and True) 
#true
print (True and False) 
#false
print (False and False) 
#false
print (True or True) 
#true
print (False or True) 
#true
print (False or False)
#false
print (not True)
print (not False)

True
False
False
True
True
False
False
True

In [13]:
#only if

a = 4
# assign different numbers to a and check the output

if a > 6:
   print ("printing because if is true")
print ("Learning if ")

Learning if

In [2]:
#repeating task for multple times ( n times) -- The while way
i = 1
j = 25

while i <= j:
    print (i)
    i = i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [14]:
# repeating task for items in a range or list 

for i in range (1,5):
    print (i)

1
2
3
4

In [16]:
mylist = [2, 2.3, "two", "Maya", "Raj", "Preeti", "Mayur"]
for i in mylist:
    print (i)

2
2.3
two
Maya
Raj
Preeti
Mayur

In [18]:
# program to check if i is prime number
i = 19
flag = 1
for j in range(2,i):
    if i%j == 0:
     print (i, ' can be fully divided by' ,j )
     flag = 0
    break
        
if flag == 1:
    print (i, ' is a prime number')

19  is a prime number

In [21]:
# program to find prime numbers in 1 to 20 numbers

i = 2
n = 20
while i<=n:
    flag = 1
    for j in range(2,i):
     if i%j == 0:
        #print (i, ' can be fully divided by' ,j )
        flag = 0
        break
        
    if flag == 1:
        print (i, ' is a prime number')
    
    i = i+1

2  is a prime number
3  is a prime number
5  is a prime number
7  is a prime number
11  is a prime number
13  is a prime number
17  is a prime number
19  is a prime number

In [3]:
# check leap year
year = 1900
if year % 4 ==0:
    if year % 100 ==0:
        if year % 400 ==0:
            print (year,' is a leap year')
        else:
            print (year,' is not a leap year')
    else:
        print (year,' is a leap year')
else:
    print (year,' is not a leap year')

1900  is not a leap year

In [18]:
#check leap year of 21st century

year = 2100
while year <= 2199:
    if year % 4 ==0:
        if year % 100 ==0:
            if year % 400 ==0:
                print (year,' is a leap year')
            else:
                print (year,' is not a leap year')
        else:
            print (year,' is a leap year')
    
    else:
        print (year,' is not a leap year')
    year = year + 1

2100  is not a leap year
2101  is not a leap year
2102  is not a leap year
2103  is not a leap year
2104  is a leap year
2105  is not a leap year
2106  is not a leap year
2107  is not a leap year
2108  is a leap year
2109  is not a leap year
2110  is not a leap year
2111  is not a leap year
2112  is a leap year
2113  is not a leap year
2114  is not a leap year
2115  is not a leap year
2116  is a leap year
2117  is not a leap year
2118  is not a leap year
2119  is not a leap year
2120  is a leap year
2121  is not a leap year
2122  is not a leap year
2123  is not a leap year
2124  is a leap year
2125  is not a leap year
2126  is not a leap year
2127  is not a leap year
2128  is a leap year
2129  is not a leap year
2130  is not a leap year
2131  is not a leap year
2132  is a leap year
2133  is not a leap year
2134  is not a leap year
2135  is not a leap year
2136  is a leap year
2137  is not a leap year
2138  is not a leap year
2139  is not a leap year
2140  is a leap year
2141  is not a leap year
2142  is not a leap year
2143  is not a leap year
2144  is a leap year
2145  is not a leap year
2146  is not a leap year
2147  is not a leap year
2148  is a leap year
2149  is not a leap year
2150  is not a leap year
2151  is not a leap year
2152  is a leap year
2153  is not a leap year
2154  is not a leap year
2155  is not a leap year
2156  is a leap year
2157  is not a leap year
2158  is not a leap year
2159  is not a leap year
2160  is a leap year
2161  is not a leap year
2162  is not a leap year
2163  is not a leap year
2164  is a leap year
2165  is not a leap year
2166  is not a leap year
2167  is not a leap year
2168  is a leap year
2169  is not a leap year
2170  is not a leap year
2171  is not a leap year
2172  is a leap year
2173  is not a leap year
2174  is not a leap year
2175  is not a leap year
2176  is a leap year
2177  is not a leap year
2178  is not a leap year
2179  is not a leap year
2180  is a leap year
2181  is not a leap year
2182  is not a leap year
2183  is not a leap year
2184  is a leap year
2185  is not a leap year
2186  is not a leap year
2187  is not a leap year
2188  is a leap year
2189  is not a leap year
2190  is not a leap year
2191  is not a leap year
2192  is a leap year
2193  is not a leap year
2194  is not a leap year
2195  is not a leap year
2196  is a leap year
2197  is not a leap year
2198  is not a leap year
2199  is not a leap year